node_modules
.DS_Store
*.d.ts
*.js
*.js.map

# yarn berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# these are needed to override '*.js' above
!.yarn/patches/**
!.yarn/plugins/**
!.yarn/releases/**
!.yarn/sdks/**
!.yarn/versions/**